*{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.random-call {
    display: flex;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
.random-call-blackboard {
    width: calc(100% - 200px);
    position: relative;
}
.random-call-blackboard .bg {
    width: 100%;
    max-height: 956px;
    overflow: hidden;
    position: relative;
}
.random-call-blackboard .bg::after {
    content: "";
    background: #000000d9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: .5;
    transition: all .3s ease-in-out;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    top: 0;
}
.random-callr-student {
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}
.random-call-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    text-align: left;
}
.random-call-content h3{
    font-size: 50px;
    color: #fff;
}
.random-call-content .student-title {
    font-size: 100px;
    margin-bottom: 50px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
.student-user {
    display: flex;
    align-items: center;
}
.student-user .userImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 60px;
}
.student-user h3 {
    max-width: 600px;
    font-size: 130px;
    letter-spacing: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}
.student-user .h3Hover {
    text-shadow: 2px 2px 4px rgba(238, 73, 62, 1);
}
.random-call-btn {
    margin-top: 100px;
}
.random-call-btn button {
    height: 70px;
    font-size: 40px;
    padding: 12px 25px;
    border-radius: 4px;
    line-height: 1;
    white-space: normal;
    cursor: pointer;
    color: #45635e;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    transition: .1s;
}
.end {
    margin-left: 50px;
}
.start:hover, .start:focus {
    color: #fff;
    border-color: #459ffc;
    background-color: #459ffc;
    outline: none;
}
.end:hover, .end:focus {
    color: #fff;
    border-color: #f36b6e;
    background-color: #f36b6e;
    outline: none;
}
.student-content {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdfe6;
}
.student-content h5 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
.student-content .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
#musicCtrl {
    width: 30px;
    height: 30px;
    background: url("../img/music.svg") transparent no-repeat center center;
    background-repeat: no-repeat;
    z-index: 20;
    position: fixed;
    background-size: 100%;
}
.mRt {
	left: 26px;
	top: 25px;
}
.mAnim {
	-webkit-animation: mAnim 2s linear infinite ;
	animation: mAnim 2s linear infinite ;
	background-position: -51px 0;
}
.student-result {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    border-bottom: 5px solid #ee493e;
    padding-bottom: 5px;
}
.student-result svg {
    width: 8em;
    color: #ee493e;
}
.music-tip {
    z-index: 20;
    position: fixed;
    color: #fff;
    left: 70px;
    top: 30px;
    font-size: 13px;
}
@-webkit-keyframes mAnim {
	from {
	  -webkit-transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	}
}
@keyframes mAnim {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}
[v-cloak]{
    display: none;
}